// Google Fonts
// Kanit
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap%27'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Variables de colores
$mainColor: #0AA2D7;
$lightBlue: #A7E1EF;
$blackGray: #252424;

body {
    font-family: 'Kanit', sans-serif;
    background-color: $lightBlue;
}


@import 'header';

@import 'galeria';

@import 'footer';