@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap%27");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kanit", sans-serif;
  background-color: gainsboro;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252424;
  padding: 10px;
}
header .logo {
  width: 180px;
  padding: 5px;
}
header .section-container {
  display: flex;
  gap: 20px;
  padding: 10px;
  margin: 0;
}
header .section-container .nav-item {
  font-size: 20px;
  list-style-type: none;
}
header .section-container .nav-item .nav-link {
  text-decoration: none;
  color: white;
  font-weight: 300;
}
header .icon {
  color: #0AA2D7;
  font-size: 30px;
  padding: 10px;
}

main {
  padding: 30px;
}
main .card {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 60px 0;
  border-radius: 5px;
}
main .card .img-container {
  width: 450px;
  padding: 0 20px;
}
main .card .img-container img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  border-radius: 3px;
}
main .card .gallery-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  padding-left: 20px;
  color: black;
  background-color: rgba(245, 245, 245, 0.425);
  box-shadow: rgba(10, 162, 215, 0.4) 5px 5px, rgba(10, 162, 215, 0.3) 10px 10px, rgba(10, 162, 215, 0.2) 15px 15px, rgba(10, 162, 215, 0.1) 20px 20px, rgba(10, 162, 215, 0.05) 25px 25px;
}
main .card .gallery-info h3 {
  font-weight: 400;
  font-size: 25px;
}
main .card .gallery-info .title-highlight {
  padding: 1px 0;
  width: 60%;
  background-color: #0AA2D7;
}
main .card .gallery-info p {
  width: 100%;
  text-align: start;
  font-weight: 300;
}
main .card .gallery-info button {
  border: none;
  border-radius: 30px;
  background-color: #252424;
  padding: 15px 20px;
  color: whitesmoke;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
main .card .gallery-info button:hover {
  cursor: pointer;
}
main .card .left {
  box-shadow: #0AA2D7 1px 10px 10px;
  box-shadow: rgba(10, 162, 215, 0.4) -5px 5px, rgba(10, 162, 215, 0.3) -10px 10px, rgba(10, 162, 215, 0.2) -15px 15px, rgba(10, 162, 215, 0.1) -20px 20px, rgba(10, 162, 215, 0.05) -25px 25px;
}
main .matriz-section, main .formats-section {
  display: flex;
  flex-direction: row-reverse;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #252424;
  color: whitesmoke;
  height: 180px;
  padding: 10px;
  margin-top: 30px;
}
footer .footer-info {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 200;
  width: 45%;
  text-align: justify;
  gap: 10px;
}
footer .icon-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .icon-container span {
  font-size: 20px;
  font-weight: 200;
}
footer .icon-container .icons {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 20px;
}
footer .icon-container .footer-icon {
  font-size: 35px;
  color: #0AA2D7;
}
footer .icon-container .footer-icon:hover {
  cursor: pointer;
}
footer .footer-logo .logo {
  width: 220px;
}

/*# sourceMappingURL=style.css.map */
